<div class="position-relative">
    <ngb-carousel (click)="showOverlay.set(false)">
        @for (img of images(); track img; let i = $index) {
            <ng-template ngbSlide [id]="i.toString()">
                <div class="picsum-img-wrapper">
                    <img [src]="img" class="img-fluid" alt="Random slide {{ $index + 1 }}" />
                </div>
            </ng-template>
        }
    </ngb-carousel>
    <app-search-bar [(showOverlay)]="showOverlay" [(recentSearches)]="recentSearches" />
</div>