<footer class="d-flex flex-wrap justify-content-between align-items-center p-4 border-top bg-white my-auto">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary fs-6">2025, Crafted by Gabriele Giannessi</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Instagram">
                <i id="footer-icon" class="bi bi-instagram fs-5"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Facebook"><i
                    id="footer-icon" class="bi bi-facebook fs-5"></i></a></li>
    </ul>
</footer>