<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="router.navigateByUrl('/home')">
      <span class="ms-2 d-none d-sm-inline" style="cursor: pointer;">VanGoghDna</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Fare una pagina per visualizzare la serie di documenti resi disponibili -->
    <div [ngbCollapse]="isMenuCollapsed()" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page">
            <i class="bi bi-file-earmark-text me-1"></i>
            Documenti
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>