<div class="container-fluid d-flex flex-column align-items-center justify-content-center p-0">
    <div class="rounded-5 shadow-lg border-0 bg-white p-3">
        <h3>Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
            <button class="btn border-0" (click)="authService.loginWithGoogle()">
                <i class="bi bi-google"></i>
                Login with Google
            </button>
    </div>
</div>