/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as * with (
   $primary: orange
);
@use 'bootstrap-icons/font/bootstrap-icons' as *;

html {
  scroll-behavior: auto;
  height: 100%;
}

:root {
  --navbar-height: 3.5em;
}

body {
  padding-top: var(--navbar-height);
}