/* 1. Definisci i tuoi override PRIMA di importare bootstrap */

/* 4. Stili globali */
@use 'custom-bs';

html {
  scroll-behavior: auto;
  height: 100%;
}

:root {
  --navbar-height: 3.5em;
}

body {
  padding-top: var(--navbar-height);
}
